/* Nút parent (Services) */
.DrawerParentButton[data-active="true"] .DrawerParentText {
  color: #246fb4;
}

/* Link parent đơn */
.Anchorroot[data-active="true"] .Textroot {
  color: #246fb4;
  background-color: #246fb4;
}

.Anchorroot :hover .Textroot {
  color: #246fb4;
  background-color: #246fb4;
}
/* Link child */
.Anchorchild[data-active="true"] .Textchild {
  color: #246fb4;
}

/* Target area lớn hơn cho mobile */
.DrawerParentButton,
.Anchorroot,
.Anchorchild {
  -webkit-tap-highlight-color: transparent;
}

.sectionBtn[data-position="right"] {
  margin-right: 0;
}

.sectionBtn[data-position="left"],
.innerBtn {
  width: 100%;
}
