.header {
  position: relative;
  background: url("/assets/carousel/img2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: none;
  height: rem(100vh);

  @media (max-width: $mantine-breakpoint-xs) {
    height: rem(100vh);
  }

  @media (min-width: $mantine-breakpoint-xl) {
    height: rem(100vh);
  }
}

.header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45); /* tăng/giảm 0.45 để đậm/nhạt hơn */
}

.header > * {
  position: relative;
  z-index: 1;
}