.Menudropdown {
  background: #9a99994d;
  backdrop-filter: blur(10px);
  border-color: #9a99994d;
}

.Menuitem {
  transition: background-color 0.3s ease;

  &:hover {
    transition: background-color 0.3s ease;
    background-color: #9a99994d;
    color: var(--text-primary);
  }
}
